/* $Id$ */

#ifndef __CONFIG_H__
#define __CONFIG_H__

/* HTML which gets shown on the main. */
#define MAIN_HTML "<h1>Index</h1>"

/* Manual page root */
#define MANPAGE_DIR "/usr/share/man"

/* Footer, comment it for no footer */
#define FOOTER_HTML "some footer"

#endif

/*
vim: syntax=c
*/
